In [1]:
import pandas as pd

In [2]:
# Load Datasets
transactions = pd.read_csv('C:\\Kaggle competetion datasets\\Elo Merchent Category Recommendation\\historical_transactions.csv')

In [3]:
new_merch_trans = pd.read_csv('C:\\Kaggle competetion datasets\\Elo Merchent Category Recommendation\\new_merchant_transactions.csv')
new_merch_trans.shape

(1963031, 14)

In [4]:
transactions=pd.concat([transactions,new_merch_trans],axis=0)

In [5]:
transactions.shape

(31075392, 14)

In [6]:
card_count = transactions.groupby('card_id').size().reset_index()

In [7]:
card_count.tail()

                card_id    0
325535  C_ID_ffff1d9928   16
325536  C_ID_ffff579d3a  115
325537  C_ID_ffff756266   25
325538  C_ID_ffff828181  198
325539  C_ID_fffffd5772   87

In [8]:
card_count.columns=['card_id','frequency']
card_count['freq_cum']=card_count['frequency'].cumsum()

In [9]:
card_count['split'] = pd.cut(card_count['freq_cum'],bins=30, labels=[x for x in range(1,31)])

In [10]:
card_count.tail()

                card_id  frequency  freq_cum split
325535  C_ID_ffff1d9928         16  31074967    30
325536  C_ID_ffff579d3a        115  31075082    30
325537  C_ID_ffff756266         25  31075107    30
325538  C_ID_ffff828181        198  31075305    30
325539  C_ID_fffffd5772         87  31075392    30

In [11]:
transactions.set_index(['card_id'], inplace=True)

In [ ]:
for i in card_count['split'].unique():
    card_ids = card_count[card_count['split']==i]['card_id']
    transactions_subset = transactions[transactions.index.isin(card_ids.values)]
    transactions_subset.to_csv("subset_" + str(i) + '.csv')
    print(i)

1
2
3

In [16]:
data = pd.DataFrame({'one':[1,2,3,4,5,6], 'two':[1,2,1,2,1,2], 'split':[1,2,3,4,5,6]})

In [18]:
for i in data['split'].unique():
    ca = data[data['split']==i]['one']
    transactions_subset = data[data['one'].isin(ca.values)]
    transactions_subset.to_csv("subset_" + str(i) + '.csv', index=False)